<% if params[:error] %>
	<p> You have not logged in!</p>
<% end %>
<h1>Sign up for an account!</h1>
<form method=post action="/signup">
<input type="text" placeholder="Email" name="user[email]"><br>
<input type="password" placeholder="Password" name="user[password]"><br>
<input type="submit" value="Sign up">
</form>
<p><%= @msg %></p>
<p>Sign up our Quora app to get Free candy!!</p>

<h2>Login</h2>
<form method=post action="/login">
	<input type="text" placeholder="Email" name="user[email]"><br>

	<input type="password" placeholder="Password" name="user[password]"><br>
	<input type="submit" value="Login">
</form>